<a href="https://colab.research.google.com/github/bhirwa/User-analytics-in-the-Telecom-Industry/blob/main/setup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [188]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [189]:
import os
path = "/content" # /content is pretty much the root. you can choose other path in your colab workspace
os.chdir(path)

In [190]:
!ls gdrive/MyDrive/Colab\ Notebooks/

Data  setup.ipynb  Untitled0.ipynb

In [191]:
cd gdrive/MyDrive/Colab\ Notebooks/

/content/gdrive/MyDrive/Colab Notebooks

In [192]:
import pandas as pd
import numpy as np

In [193]:

df = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/Data/Week1_challenge_data_source.xlsx')
df.head()

              Bearer Id               Start  ...  Total UL (Bytes) Total DL (Bytes)
0  13114483460844900352 2019-04-04 12:01:18  ...        36749741.0      308879636.0
1  13114483482878900224 2019-04-09 13:04:04  ...        53800391.0      653384965.0
2  13114483484080500736 2019-04-09 17:42:11  ...        27883638.0      279807335.0
3  13114483485442799616 2019-04-10 00:31:25  ...        43324218.0      846028530.0
4  13114483499480700928 2019-04-12 20:10:23  ...        38542814.0      569138589.0

[5 rows x 55 columns]

In [171]:
# column names
df.columns.tolist()

['BearerId',
 'Start',
 'Startms',
 'End',
 'Endms',
 'Dur.ms',
 'IMSI',
 'MSISDN/Number',
 'IMEI',
 'LastLocationName',
 'AvgRTTDLms',
 'AvgRTTULms',
 'AvgBearerTPDLkbps',
 'AvgBearerTPULkbps',
 'TCPDLRetrans.VolBytes',
 'TCPULRetrans.VolBytes',
 'DLTP<50Kbps%',
 '50Kbps<DLTP<250Kbps%',
 '250Kbps<DLTP<1Mbps%',
 'DLTP>1Mbps%',
 'ULTP<10Kbps%',
 '10Kbps<ULTP<50Kbps%',
 '50Kbps<ULTP<300Kbps%',
 'ULTP>300Kbps%',
 'HTTPDLBytes',
 'HTTPULBytes',
 'ActivityDurationDLms',
 'ActivityDurationULms',
 'Dur.ms.1',
 'HandsetManufacturer',
 'HandsetType',
 'Nbofsecwith125000B<VolDL',
 'Nbofsecwith1250B<VolUL<6250B',
 'Nbofsecwith31250B<VolDL<125000B',
 'Nbofsecwith37500B<VolUL',
 'Nbofsecwith6250B<VolDL<31250B',
 'Nbofsecwith6250B<VolUL<37500B',
 'NbofsecwithVolDL<6250B',
 'NbofsecwithVolUL<1250B',
 'SocialMediaDLBytes',
 'SocialMediaULBytes',
 'GoogleDLBytes',
 'GoogleULBytes',
 'EmailDLBytes',
 'EmailULBytes',
 'YoutubeDLBytes',
 'YoutubeULBytes',
 'NetflixDLBytes',
 'NetflixULBytes',
 'GamingDLBytes',
 'GamingULBytes',
 'OtherDLBytes',
 'OtherULBytes',
 'TotalULBytes',
 'TotalDLBytes']

In [172]:
# number of data points
print(f" There are {df.shape[0]} rows and {df.shape[1]} columns")

 There are 150001 rows and 55 columns

In [211]:
# how many missing values exist or better still what is the % of missing values in the dataset?
def percent_missing(db):

    # Calculate total number of cells in dataframe
    totalCells = np.product(db.shape)

    # Count number of missing values per column
    missingCount = db.isnull().sum()

    # Calculate total number of missing values
    totalMissing = missingCount.sum()

    # Calculate percentage of missing values
    print("The Telecommunication industry dataset contains", round(((totalMissing/totalCells) * 100), 2), "%", "missing values.")

percent_missing(df)

The Telecommunication industry dataset contains 12.49 % missing values.

In [212]:
df.describe()

             Startms          Endms  ...  TotalULBytes  TotalDLBytes
count  150000.000000  150000.000000  ...  1.500000e+05  1.500000e+05
mean      499.188200     498.800880  ...  4.112121e+07  4.546434e+08
std       288.611834     288.097653  ...  1.127639e+07  2.441429e+08
min         0.000000       0.000000  ...  2.866892e+06  7.114041e+06
25%       250.000000     251.000000  ...  3.322201e+07  2.431068e+08
50%       499.000000     500.000000  ...  4.114331e+07  4.558411e+08
75%       749.000000     750.000000  ...  4.903424e+07  6.657055e+08
max       999.000000     999.000000  ...  7.833131e+07  9.029696e+08

[8 rows x 49 columns]

In [213]:
print(f'Handset Type: {df.HandsetType.count()}')
print(f'Handset Type: {df.HandsetManufacturer.count()}')

Handset Type: 149429
Handset Type: 149429

In [198]:
print(f'Handset Type: {df.HandsetManufacturer.nunique()}')
print(f'Handset Manufacturer: {df.HandsetManufacturer.nunique()}')

Handset Type: 170
Handset Manufacturer: 170

In [199]:
print(f'Handset Type: {df.HandsetType.dtype}')
print(f'Handset Manufacturer: {df.HandsetManufacturer.dtype}')

Handset Type: object
Handset Manufacturer: object

In [214]:
# Now which column(s) has missing values
df.isna().sum()

BearerId                                0
Start                                   1
Startms                                 1
End                                     1
Endms                                   1
Dur.ms                                  1
IMSI                                  570
MSISDN/Number                        1066
IMEI                                  572
LastLocationName                     1153
AvgRTTDLms                          27829
AvgRTTULms                          27812
AvgBearerTPDLkbps                       1
AvgBearerTPULkbps                       1
TCPDLRetrans.VolBytes               88146
TCPULRetrans.VolBytes               96649
DLTP<50Kbps%                          754
50Kbps<DLTP<250Kbps%                  754
250Kbps<DLTP<1Mbps%                   754
DLTP>1Mbps%                           754
ULTP<10Kbps%                          792
10Kbps<ULTP<50Kbps%                   792
50Kbps<ULTP<300Kbps%                  792
ULTP>300Kbps%                         792
HTTPDLBytes                         81474
HTTPULBytes                         81810
ActivityDurationDLms                    1
ActivityDurationULms                    1
Dur.ms.1                                1
HandsetManufacturer                   572
HandsetType                           572
Nbofsecwith125000B<VolDL            97538
Nbofsecwith1250B<VolUL<6250B        92894
Nbofsecwith31250B<VolDL<125000B     93586
Nbofsecwith37500B<VolUL            130254
Nbofsecwith6250B<VolDL<31250B       88317
Nbofsecwith6250B<VolUL<37500B      111843
NbofsecwithVolDL<6250B                755
NbofsecwithVolUL<1250B                793
SocialMediaDLBytes                      0
SocialMediaULBytes                      0
GoogleDLBytes                           0
GoogleULBytes                           0
EmailDLBytes                            0
EmailULBytes                            0
YoutubeDLBytes                          0
YoutubeULBytes                          0
NetflixDLBytes                          0
NetflixULBytes                          0
GamingDLBytes                           0
GamingULBytes                           0
OtherDLBytes                            0
OtherULBytes                            0
TotalULBytes                            1
TotalDLBytes                            1
dtype: int64

In [221]:

df.columns = df.columns.str.replace(' ','').str.replace('(', '').str.replace(')', '')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150001 entries, 0 to 150000
Data columns (total 39 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   BearerId                150001 non-null  object
 1   Start                   150000 non-null  datetime64[ns]
 2   Startms                 150000 non-null  float64
 3   End                     150000 non-null  datetime64[ns]
 4   Endms                   150000 non-null  float64
 5   Dur.ms                  150000 non-null  float64
 6   IMSI                    149431 non-null  float64
 7   MSISDN/Number           148935 non-null  float64
 8   IMEI                    149429 non-null  float64
 9   LastLocationName        148848 non-null  object
 10  AvgRTTDLms              122172 non-null  float64
 11  AvgRTTULms              122189 non-null  float64
 12  AvgBearerTPDLkbps       150000 non-null  float64
 13  AvgBearerTPULkbps       150000 non-null  float64
 14  DLTP<50Kbps%            149247 non-null  float64
 15  ULTP<10Kbps%            149209 non-null  float64
 16  ActivityDurationDLms    150000 non-null  float64
 17  ActivityDurationULms    150000 non-null  float64
 18  Dur.ms.1                150000 non-null  float64
 19  HandsetManufacturer     149429 non-null  object
 20  HandsetType             149429 non-null  object
 21  NbofsecwithVolDL<6250B  149246 non-null  float64
 22  NbofsecwithVolUL<1250B  149208 non-null  float64
 23  SocialMediaDLBytes      150001 non-null  float64
 24  SocialMediaULBytes      150001 non-null  float64
 25  GoogleDLBytes           150001 non-null  float64
 26  GoogleULBytes           150001 non-null  float64
 27  EmailDLBytes            150001 non-null  float64
 28  EmailULBytes            150001 non-null  float64
 29  YoutubeDLBytes          150001 non-null  float64
 30  YoutubeULBytes          150001 non-null  float64
 31  NetflixDLBytes          150001 non-null  float64
 32  NetflixULBytes          150001 non-null  float64
 33  GamingDLBytes           150001 non-null  float64
 34  GamingULBytes           150001 non-null  float64
 35  OtherDLBytes            150001 non-null  float64
 36  OtherULBytes            150001 non-null  float64
 37  TotalULBytes            150000 non-null  float64
 38  TotalDLBytes            150000 non-null  float64
dtypes: datetime64[ns](2), float64(33), object(4)
memory usage: 44.6+ MB

In [ ]:
df = df.drop(columns = ['TCPDLRetrans.VolBytes', 'TCPULRetrans.VolBytes', '50Kbps<DLTP<250Kbps%', '250Kbps<DLTP<1Mbps%', 'DLTP>1Mbps%', '10Kbps<ULTP<50Kbps%', '50Kbps<ULTP<300Kbps%', 'ULTP>300Kbps%', 'HTTPDLBytes', 'HTTPULBytes', 'Nbofsecwith125000B<VolDL', 'Nbofsecwith1250B<VolUL<6250B', 'Nbofsecwith31250B<VolDL<125000B', 'Nbofsecwith37500B<VolUL', 'Nbofsecwith6250B<VolDL<31250B', 'Nbofsecwith6250B<VolUL<37500B'], axis = 1)

In [231]:

# fill missing with ffill method for columns (TotalULBytes, TotalDLBytes)

cols = ['Startms', ['Endms', 'Dur.ms', 'IMSI', 'MSISDN/Number', 'IMEI','AvgRTTDLms', 'AvgRTTULms', 'AvgBearerTPDLkbps', 'AvgBearerTPULkbps'   ]]



# fill 'Handset Type' and 'Handset Manufacturer' column with mode 

df_clean['HandsetType'] = df_clean['HandsetType'].fillna(df_clean['HandsetType'].mode())
df_clean['HandsetType'] = df_clean['HandsetType'].fillna(df_clean['HandsetType'].mode())
df_clean['HandsetType'] = df_clean['HandsetType'].fillna(df_clean['HandsetType'].mode())
df_clean['HandsetType'] = df_clean['HandsetType'].fillna(df_clean['HandsetType'].mode())
df_clean['HandsetType'] = df_clean['HandsetType'].fillna(df_clean['HandsetType'].mode())

IndexError: ignored

In [ ]:
print(df.TotalDLBytes.min())
print(df.TotalULBytes.min())
print(df.TotalDLBytes.quantile(.25))
print(df.TotalULBytes.quantile(.25))
print(df.TotalDLBytes.quantile(.50))
print(df.TotalULBytes.quantile(.50))
print(df.TotalDLBytes.quantile(.75))
print(df.TotalULBytes.quantile(.75))
print(df.TotalDLBytes.max())
print(df.TotalDLBytes.max())
print('\n')
print(df.TotalDLBytes.mean())
print(df.TotalULBytes.median())
print(df.TotalDLBytes.mode().values[0])

7114041.0
2866892.0
243106803.0
33221955.0
455841077.5
41143242.0
665705544.0
49034238.0
902969616.0
902969616.0


454643430.0789667
41143242.0
74126119.0

In [ ]:
print(df.TotalDLBytes.std())
print(df.TotalULBytes.std())

244142874.37628293
11276387.986728648

In [ ]:

import matplotlib.pyplot as plt
import seaborn as sns

from scipy import stats

from pylab import rcParams
from mlxtend.preprocessing import minmax_scaling
from sklearn.preprocessing import scale