<a href="https://colab.research.google.com/github/bhirwa/User-analytics-in-the-Telecom-Industry/blob/main/setup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [188]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [189]:
import os
path = "/content" # /content is pretty much the root. you can choose other path in your colab workspace
os.chdir(path)

In [190]:
!ls gdrive/MyDrive/Colab\ Notebooks/

Data  setup.ipynb  Untitled0.ipynb

In [191]:
cd gdrive/MyDrive/Colab\ Notebooks/

/content/gdrive/MyDrive/Colab Notebooks

In [192]:
import pandas as pd
import numpy as np

In [245]:

df = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/Data/Week1_challenge_data_source.xlsx')
df.head()

              Bearer Id               Start  ...  Total UL (Bytes) Total DL (Bytes)
0  13114483460844900352 2019-04-04 12:01:18  ...        36749741.0      308879636.0
1  13114483482878900224 2019-04-09 13:04:04  ...        53800391.0      653384965.0
2  13114483484080500736 2019-04-09 17:42:11  ...        27883638.0      279807335.0
3  13114483485442799616 2019-04-10 00:31:25  ...        43324218.0      846028530.0
4  13114483499480700928 2019-04-12 20:10:23  ...        38542814.0      569138589.0

[5 rows x 55 columns]

In [246]:
# column names
df.columns.tolist()

['Bearer Id',
 'Start',
 'Start ms',
 'End',
 'End ms',
 'Dur. (ms)',
 'IMSI',
 'MSISDN/Number',
 'IMEI',
 'Last Location Name',
 'Avg RTT DL (ms)',
 'Avg RTT UL (ms)',
 'Avg Bearer TP DL (kbps)',
 'Avg Bearer TP UL (kbps)',
 'TCP DL Retrans. Vol (Bytes)',
 'TCP UL Retrans. Vol (Bytes)',
 'DL TP < 50 Kbps (%)',
 '50 Kbps < DL TP < 250 Kbps (%)',
 '250 Kbps < DL TP < 1 Mbps (%)',
 'DL TP > 1 Mbps (%)',
 'UL TP < 10 Kbps (%)',
 '10 Kbps < UL TP < 50 Kbps (%)',
 '50 Kbps < UL TP < 300 Kbps (%)',
 'UL TP > 300 Kbps (%)',
 'HTTP DL (Bytes)',
 'HTTP UL (Bytes)',
 'Activity Duration DL (ms)',
 'Activity Duration UL (ms)',
 'Dur. (ms).1',
 'Handset Manufacturer',
 'Handset Type',
 'Nb of sec with 125000B < Vol DL',
 'Nb of sec with 1250B < Vol UL < 6250B',
 'Nb of sec with 31250B < Vol DL < 125000B',
 'Nb of sec with 37500B < Vol UL',
 'Nb of sec with 6250B < Vol DL < 31250B',
 'Nb of sec with 6250B < Vol UL < 37500B',
 'Nb of sec with Vol DL < 6250B',
 'Nb of sec with Vol UL < 1250B',
 'Social Media DL (Bytes)',
 'Social Media UL (Bytes)',
 'Google DL (Bytes)',
 'Google UL (Bytes)',
 'Email DL (Bytes)',
 'Email UL (Bytes)',
 'Youtube DL (Bytes)',
 'Youtube UL (Bytes)',
 'Netflix DL (Bytes)',
 'Netflix UL (Bytes)',
 'Gaming DL (Bytes)',
 'Gaming UL (Bytes)',
 'Other DL (Bytes)',
 'Other UL (Bytes)',
 'Total UL (Bytes)',
 'Total DL (Bytes)']

In [247]:
# number of data points
print(f" There are {df.shape[0]} rows and {df.shape[1]} columns")

 There are 150001 rows and 55 columns

In [248]:
# how many missing values exist or better still what is the % of missing values in the dataset?
def percent_missing(db):

    # Calculate total number of cells in dataframe
    totalCells = np.product(db.shape)

    # Count number of missing values per column
    missingCount = db.isnull().sum()

    # Calculate total number of missing values
    totalMissing = missingCount.sum()

    # Calculate percentage of missing values
    print("The Telecommunication industry dataset contains", round(((totalMissing/totalCells) * 100), 2), "%", "missing values.")

percent_missing(df)

The Telecommunication industry dataset contains 12.49 % missing values.

In [249]:
df.describe()

            Start ms         End ms  ...  Total UL (Bytes)  Total DL (Bytes)
count  150000.000000  150000.000000  ...      1.500000e+05      1.500000e+05
mean      499.188200     498.800880  ...      4.112121e+07      4.546434e+08
std       288.611834     288.097653  ...      1.127639e+07      2.441429e+08
min         0.000000       0.000000  ...      2.866892e+06      7.114041e+06
25%       250.000000     251.000000  ...      3.322201e+07      2.431068e+08
50%       499.000000     500.000000  ...      4.114331e+07      4.558411e+08
75%       749.000000     750.000000  ...      4.903424e+07      6.657055e+08
max       999.000000     999.000000  ...      7.833131e+07      9.029696e+08

[8 rows x 49 columns]

In [252]:
df.columns = df.columns.str.replace(' ','').str.replace('(', '').str.replace(')', '')
df

                    BearerId               Start  ...  TotalULBytes TotalDLBytes
0       13114483460844900352 2019-04-04 12:01:18  ...    36749741.0  308879636.0
1       13114483482878900224 2019-04-09 13:04:04  ...    53800391.0  653384965.0
2       13114483484080500736 2019-04-09 17:42:11  ...    27883638.0  279807335.0
3       13114483485442799616 2019-04-10 00:31:25  ...    43324218.0  846028530.0
4       13114483499480700928 2019-04-12 20:10:23  ...    38542814.0  569138589.0
...                      ...                 ...  ...           ...          ...
149996   7277825670196679680 2019-04-29 07:28:42  ...    57628851.0  574175259.0
149997   7349883264234609664 2019-04-29 07:28:42  ...    39135081.0  666648844.0
149998  13114483573367300096 2019-04-29 07:28:43  ...    34912224.0  592786405.0
149999  13114483573367300096 2019-04-29 07:28:43  ...    29626096.0  371895920.0
150000                                       NaT  ...           NaN          NaN

[150001 rows x 55 columns]

In [253]:
print(f'Handset Type: {df.HandsetType.count()}')
print(f'Handset Type: {df.HandsetManufacturer.count()}')

Handset Type: 149429
Handset Type: 149429

In [254]:
print(f'Handset Type: {df.HandsetManufacturer.nunique()}')
print(f'Handset Manufacturer: {df.HandsetManufacturer.nunique()}')

Handset Type: 170
Handset Manufacturer: 170

In [255]:
print(f'Handset Type: {df.HandsetType.dtype}')
print(f'Handset Manufacturer: {df.HandsetManufacturer.dtype}')

Handset Type: object
Handset Manufacturer: object

In [256]:
# Now which column(s) has missing values
df.isna().sum()

BearerId                                0
Start                                   1
Startms                                 1
End                                     1
Endms                                   1
Dur.ms                                  1
IMSI                                  570
MSISDN/Number                        1066
IMEI                                  572
LastLocationName                     1153
AvgRTTDLms                          27829
AvgRTTULms                          27812
AvgBearerTPDLkbps                       1
AvgBearerTPULkbps                       1
TCPDLRetrans.VolBytes               88146
TCPULRetrans.VolBytes               96649
DLTP<50Kbps%                          754
50Kbps<DLTP<250Kbps%                  754
250Kbps<DLTP<1Mbps%                   754
DLTP>1Mbps%                           754
ULTP<10Kbps%                          792
10Kbps<ULTP<50Kbps%                   792
50Kbps<ULTP<300Kbps%                  792
ULTP>300Kbps%                         792
HTTPDLBytes                         81474
HTTPULBytes                         81810
ActivityDurationDLms                    1
ActivityDurationULms                    1
Dur.ms.1                                1
HandsetManufacturer                   572
HandsetType                           572
Nbofsecwith125000B<VolDL            97538
Nbofsecwith1250B<VolUL<6250B        92894
Nbofsecwith31250B<VolDL<125000B     93586
Nbofsecwith37500B<VolUL            130254
Nbofsecwith6250B<VolDL<31250B       88317
Nbofsecwith6250B<VolUL<37500B      111843
NbofsecwithVolDL<6250B                755
NbofsecwithVolUL<1250B                793
SocialMediaDLBytes                      0
SocialMediaULBytes                      0
GoogleDLBytes                           0
GoogleULBytes                           0
EmailDLBytes                            0
EmailULBytes                            0
YoutubeDLBytes                          0
YoutubeULBytes                          0
NetflixDLBytes                          0
NetflixULBytes                          0
GamingDLBytes                           0
GamingULBytes                           0
OtherDLBytes                            0
OtherULBytes                            0
TotalULBytes                            1
TotalDLBytes                            1
dtype: int64

In [259]:
df_clean = df.drop(columns=['TCPDLRetrans.VolBytes', 'TCPULRetrans.VolBytes', 'HTTPDLBytes', 'HTTPULBytes', 'Nbofsecwith125000B<VolDL', 'Nbofsecwith1250B<VolUL<6250B', 'Nbofsecwith31250B<VolDL<125000B', 'Nbofsecwith37500B<VolUL', 'Nbofsecwith6250B<VolDL<31250B', 'Nbofsecwith6250B<VolUL<37500B'])
df.info()
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150001 entries, 0 to 150000
Data columns (total 55 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   BearerId                         150001 non-null  object
 1   Start                            150000 non-null  datetime64[ns]
 2   Startms                          150000 non-null  float64
 3   End                              150000 non-null  datetime64[ns]
 4   Endms                            150000 non-null  float64
 5   Dur.ms                           150000 non-null  float64
 6   IMSI                             149431 non-null  float64
 7   MSISDN/Number                    148935 non-null  float64
 8   IMEI                             149429 non-null  float64
 9   LastLocationName                 148848 non-null  object
 10  AvgRTTDLms                       122172 non-null  float64
 11  AvgRTTULms                       122189 non-null  float64
 12  AvgBearerTPDLkbps                150000 non-null  float64
 13  AvgBearerTPULkbps                150000 non-null  float64
 14  TCPDLRetrans.VolBytes            61855 non-null   float64
 15  TCPULRetrans.VolBytes            53352 non-null   float64
 16  DLTP<50Kbps%                     149247 non-null  float64
 17  50Kbps<DLTP<250Kbps%             149247 non-null  float64
 18  250Kbps<DLTP<1Mbps%              149247 non-null  float64
 19  DLTP>1Mbps%                      149247 non-null  float64
 20  ULTP<10Kbps%                     149209 non-null  float64
 21  10Kbps<ULTP<50Kbps%              149209 non-null  float64
 22  50Kbps<ULTP<300Kbps%             149209 non-null  float64
 23  ULTP>300Kbps%                    149209 non-null  float64
 24  HTTPDLBytes                      68527 non-null   float64
 25  HTTPULBytes                      68191 non-null   float64
 26  ActivityDurationDLms             150000 non-null  float64
 27  ActivityDurationULms             150000 non-null  float64
 28  Dur.ms.1                         150000 non-null  float64
 29  HandsetManufacturer              149429 non-null  object
 30  HandsetType                      149429 non-null  object
 31  Nbofsecwith125000B<VolDL         52463 non-null   float64
 32  Nbofsecwith1250B<VolUL<6250B     57107 non-null   float64
 33  Nbofsecwith31250B<VolDL<125000B  56415 non-null   float64
 34  Nbofsecwith37500B<VolUL          19747 non-null   float64
 35  Nbofsecwith6250B<VolDL<31250B    61684 non-null   float64
 36  Nbofsecwith6250B<VolUL<37500B    38158 non-null   float64
 37  NbofsecwithVolDL<6250B           149246 non-null  float64
 38  NbofsecwithVolUL<1250B           149208 non-null  float64
 39  SocialMediaDLBytes               150001 non-null  float64
 40  SocialMediaULBytes               150001 non-null  float64
 41  GoogleDLBytes                    150001 non-null  float64
 42  GoogleULBytes                    150001 non-null  float64
 43  EmailDLBytes                     150001 non-null  float64
 44  EmailULBytes                     150001 non-null  float64
 45  YoutubeDLBytes                   150001 non-null  float64
 46  YoutubeULBytes                   150001 non-null  float64
 47  NetflixDLBytes                   150001 non-null  float64
 48  NetflixULBytes                   150001 non-null  float64
 49  GamingDLBytes                    150001 non-null  float64
 50  GamingULBytes                    150001 non-null  float64
 51  OtherDLBytes                     150001 non-null  float64
 52  OtherULBytes                     150001 non-null  float64
 53  TotalULBytes                     150000 non-null  float64
 54  TotalDLBytes                     150000 non-null  float64
dtypes: datetime64[ns](2), float64(49), object(4)
memory usage: 62.9+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150001 entries, 0 to 150000
Data columns (total 45 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   BearerId                150001 non-null  object
 1   Start                   150000 non-null  datetime64[ns]
 2   Startms                 150000 non-null  float64
 3   End                     150000 non-null  datetime64[ns]
 4   Endms                   150000 non-null  float64
 5   Dur.ms                  150000 non-null  float64
 6   IMSI                    149431 non-null  float64
 7   MSISDN/Number           148935 non-null  float64
 8   IMEI                    149429 non-null  float64
 9   LastLocationName        148848 non-null  object
 10  AvgRTTDLms              122172 non-null  float64
 11  AvgRTTULms              122189 non-null  float64
 12  AvgBearerTPDLkbps       150000 non-null  float64
 13  AvgBearerTPULkbps       150000 non-null  float64
 14  DLTP<50Kbps%            149247 non-null  float64
 15  50Kbps<DLTP<250Kbps%    149247 non-null  float64
 16  250Kbps<DLTP<1Mbps%     149247 non-null  float64
 17  DLTP>1Mbps%             149247 non-null  float64
 18  ULTP<10Kbps%            149209 non-null  float64
 19  10Kbps<ULTP<50Kbps%     149209 non-null  float64
 20  50Kbps<ULTP<300Kbps%    149209 non-null  float64
 21  ULTP>300Kbps%           149209 non-null  float64
 22  ActivityDurationDLms    150000 non-null  float64
 23  ActivityDurationULms    150000 non-null  float64
 24  Dur.ms.1                150000 non-null  float64
 25  HandsetManufacturer     149429 non-null  object
 26  HandsetType             149429 non-null  object
 27  NbofsecwithVolDL<6250B  149246 non-null  float64
 28  NbofsecwithVolUL<1250B  149208 non-null  float64
 29  SocialMediaDLBytes      150001 non-null  float64
 30  SocialMediaULBytes      150001 non-null  float64
 31  GoogleDLBytes           150001 non-null  float64
 32  GoogleULBytes           150001 non-null  float64
 33  EmailDLBytes            150001 non-null  float64
 34  EmailULBytes            150001 non-null  float64
 35  YoutubeDLBytes          150001 non-null  float64
 36  YoutubeULBytes          150001 non-null  float64
 37  NetflixDLBytes          150001 non-null  float64
 38  NetflixULBytes          150001 non-null  float64
 39  GamingDLBytes           150001 non-null  float64
 40  GamingULBytes           150001 non-null  float64
 41  OtherDLBytes            150001 non-null  float64
 42  OtherULBytes            150001 non-null  float64
 43  TotalULBytes            150000 non-null  float64
 44  TotalDLBytes            150000 non-null  float64
dtypes: datetime64[ns](2), float64(39), object(4)
memory usage: 51.5+ MB

In [271]:
df_clean.shape

(150001, 45)

In [286]:
# fill missing with ffill method for columns (diag_1, diag_2, diag_3)

def fix_missing_ffill(db, col):
    db[col] = db[col].fillna(method='ffill')
    return db[col]


def fix_missing_bfill(db, col):
    db[col] = db[col].fillna(method='bfill')
    return db[col]

df_clean['TotalULBytes'] = fix_missing_ffill(df_clean, 'TotalULBytes')
df_clean['TotalDLBytes'] = fix_missing_ffill(df_clean, 'TotalDLBytes')
df_clean['Start'] = fix_missing_ffill(df_clean, 'Start')
df_clean['Startms'] = fix_missing_ffill(df_clean, 'Startms')
df_clean['End'] = fix_missing_ffill(df_clean, 'End')
df_clean['Endms'] = fix_missing_ffill(df_clean, 'Endms')
df_clean['Dur.ms'] = fix_missing_ffill(df_clean, 'Dur.ms')
df_clean['IMSI'] = fix_missing_ffill(df_clean, 'IMSI')
df_clean['MSISDN/Number'] = fix_missing_ffill(df_clean, 'MSISDN/Number')
df_clean['IMEI'] = fix_missing_ffill(df_clean, 'IMEI')
df_clean['AvgRTTDLms'] = fix_missing_ffill(df_clean, 'AvgRTTDLms')
df_clean['AvgRTTULms'] = fix_missing_ffill(df_clean, 'AvgRTTULms')
df_clean['AvgBearerTPDLkbps'] = fix_missing_ffill(df_clean, 'AvgBearerTPDLkbps')
df_clean['AvgBearerTPULkbps'] = fix_missing_ffill(df_clean, 'AvgBearerTPULkbps')
df_clean['DLTP<50Kbps%'] = fix_missing_ffill(df_clean, 'DLTP<50Kbps%')
df_clean['50Kbps<DLTP<250Kbps%'] = fix_missing_ffill(df_clean, '50Kbps<DLTP<250Kbps%')
df_clean['250Kbps<DLTP<1Mbps%'] = fix_missing_ffill(df_clean, '250Kbps<DLTP<1Mbps%')
df_clean['DLTP>1Mbps%'] = fix_missing_ffill(df_clean, 'DLTP>1Mbps%')
df_clean['ULTP<10Kbps%'] = fix_missing_ffill(df_clean, 'ULTP<10Kbps%')
df_clean['10Kbps<ULTP<50Kbps%'] = fix_missing_ffill(df_clean, '10Kbps<ULTP<50Kbps%')
df_clean['50Kbps<ULTP<300Kbps%'] = fix_missing_ffill(df_clean, '50Kbps<ULTP<300Kbps%')
df_clean['ULTP>300Kbps%'] = fix_missing_ffill(df_clean, 'ULTP>300Kbps%')
df_clean['ActivityDurationDLms'] = fix_missing_ffill(df_clean, 'ActivityDurationDLms')
df_clean['ActivityDurationULms'] = fix_missing_ffill(df_clean, 'ActivityDurationULms')
df_clean['Dur.ms.1'] = fix_missing_ffill(df_clean, 'Dur.ms.1')
df_clean['NbofsecwithVolDL<6250B'] = fix_missing_ffill(df_clean, 'NbofsecwithVolDL<6250B')
df_clean['NbofsecwithVolUL<1250B'] = fix_missing_ffill(df_clean, 'NbofsecwithVolUL<1250B')

# fill 'race' column with mode 
df_clean['HandsetType'] = df_clean['HandsetType'].fillna(df_clean['HandsetType'].mode()[0])
df_clean['HandsetManufacturer'] = df_clean['HandsetManufacturer'].fillna(df_clean['HandsetManufacturer'].mode()[0])
df_clean['LastLocationName'] = df_clean['LastLocationName'].fillna(df_clean['LastLocationName'].mode()[0])

In [287]:
df_clean.isna().sum()

BearerId                  0
Start                     0
Startms                   0
End                       0
Endms                     0
Dur.ms                    0
IMSI                      0
MSISDN/Number             0
IMEI                      0
LastLocationName          0
AvgRTTDLms                0
AvgRTTULms                0
AvgBearerTPDLkbps         0
AvgBearerTPULkbps         0
DLTP<50Kbps%              0
50Kbps<DLTP<250Kbps%      0
250Kbps<DLTP<1Mbps%       0
DLTP>1Mbps%               0
ULTP<10Kbps%              0
10Kbps<ULTP<50Kbps%       0
50Kbps<ULTP<300Kbps%      0
ULTP>300Kbps%             0
ActivityDurationDLms      0
ActivityDurationULms      0
Dur.ms.1                  0
HandsetManufacturer       0
HandsetType               0
NbofsecwithVolDL<6250B    0
NbofsecwithVolUL<1250B    0
SocialMediaDLBytes        0
SocialMediaULBytes        0
GoogleDLBytes             0
GoogleULBytes             0
EmailDLBytes              0
EmailULBytes              0
YoutubeDLBytes            0
YoutubeULBytes            0
NetflixDLBytes            0
NetflixULBytes            0
GamingDLBytes             0
GamingULBytes             0
OtherDLBytes              0
OtherULBytes              0
TotalULBytes              0
TotalDLBytes              0
dtype: int64

In [ ]:
print(df.TotalDLBytes.min())
print(df.TotalULBytes.min())
print(df.TotalDLBytes.quantile(.25))
print(df.TotalULBytes.quantile(.25))
print(df.TotalDLBytes.quantile(.50))
print(df.TotalULBytes.quantile(.50))
print(df.TotalDLBytes.quantile(.75))
print(df.TotalULBytes.quantile(.75))
print(df.TotalDLBytes.max())
print(df.TotalDLBytes.max())
print('\n')
print(df.TotalDLBytes.mean())
print(df.TotalULBytes.median())
print(df.TotalDLBytes.mode().values[0])

7114041.0
2866892.0
243106803.0
33221955.0
455841077.5
41143242.0
665705544.0
49034238.0
902969616.0
902969616.0


454643430.0789667
41143242.0
74126119.0

In [ ]:
print(df.TotalDLBytes.std())
print(df.TotalULBytes.std())

244142874.37628293
11276387.986728648

In [ ]:

import matplotlib.pyplot as plt
import seaborn as sns

from scipy import stats

from pylab import rcParams
from mlxtend.preprocessing import minmax_scaling
from sklearn.preprocessing import scale